<!--The content below is only a placeholder and can be replaced.-->
<header *ngIf="isLoading" class="masthead">
        <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
                <div>
                        <div class="loader">      
                          </div>
                          <span class="loader-image"><img src="../assets/make-in-india-jootoor.gif" alt="Loading..." style="width:250px"></span>
                    </div>           
          </div>
        </div>
      </header>      
<router-outlet *ngIf="!isLoading"></router-outlet>

  

