
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Tech World</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
          A Website with various functionalities devloped using Angular-6 and Govt. of India data API, &nbsp;&nbsp;Created By : Piyush
        </h2>
        <!--<a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>-->
        <a style="cursor: pointer;" class="btn btn-primary js-scroll-trigger" routerLink="main"><b>Let's see</b></a>
      </div>
    </div>
  </header>


<!--<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <h1>Well come to Govt Api of Govt. Of India.</h1>
        </div>
      </div>
        <div class="row">
          <div class="col-8 offset-sm-4">
              <a style="cursor: pointer;" class="btn btn-success" routerLink="main"><b>Go</b></a>
          </div>
        </div>
        
      </div>
</div>-->
